
/*scrolling animation start*/
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeInUp {
    opacity: 0;
    transform: translateY(50px);
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear; /* Smoothens the animation */
  }
  
    
/*scrolling animation end*/