/* footer Start */
.footer {
    background-image: linear-gradient(to right, #035781, #131D22);
    color           : #F6F6F6;
}

.footer .socials .footer-logo {
    float: left;
}

.footer .socials h5 {
    letter-spacing: 3px;
}

.footer .socials span {
    font-size     : 9px;
    letter-spacing: 5px;
    font-weight   : 100;
    display       : block;

}

.footer .socials p {
    font-size  : 20px;
    font-weight: normal;
    color      : #AEAEAE;
}

.footer ul li i,
.footer ul li img {
    color    : #FFD433;
    font-size: 20px;
}

.footer .Policies h5,
.Contact h5 {
    font-size  : 24px;
    font-weight: 500;
}

.footer .Policies ul li a,
.footer .Contact ul li a {
    font-size  : 20px;
    font-weight: normal;
    color      : #AEAEAE;
}

.footer .Policies ul li i,
.footer .Contact ul li i {

    font-size: 15px;
}

.footer .Contact span {
    font-size  : 20px;
    font-weight: normal;
}

.footer .rights {
    font-size                 : 16px;
    font-weight               : 300;
    color                     : #AEAEAE;
    border                    : 1px solid #AEAEAE;
    border-radius             : 20px;
    border-bottom             : none;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
}

/* footer End*/
