main .main-page .page-container .form-section .page-form {
  text-align: start;
}

main .main-page .form-section .page-form .form-select {
  font-size: 18px;
  border-radius: 20px;
}

main .main-page .form-section .page-form {
  height: 100vh !important;
}

/* Quantity  Styling Start*/
.page-form .qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  border: 0;
  width: 2%;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}

/* Quantity Container Alignment */
.page-form .qty {
  text-align: center;
}

/* Plus & Minus Button Styling */
.page-form .qty .plus,
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  font: 20px Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

/* Hover Effects for Plus and Minus Buttons */
.page-form .qty .minus:hover,
.page-form .qty .plus:hover {
  background-color: #f3704a !important;
}

/* Prevent Text Selection */
.page-form .qty span {
  background-color: rgba(246, 246, 246, 1);
  color: rgba(35, 135, 194, 1);
  box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.25);
}

/* Remove Spin Buttons in Number Input */
.page-form .qty input.count::-webkit-outer-spin-button,
.page-form .qty input.count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.page-form .qty input[type="number"].count {
  -moz-appearance: textfield;
}

/* Quantity  Styling End*/

/*custom check box styling Start*/
main .main-page .page-container .form-section .page-form .toggleCheckbox {
  display: none;
}

main .main-page .page-container .form-section .page-form .toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid #f6f6f6;
  border-radius: 20px;
  background: #f6f6f6;
  font-weight: bold;
  cursor: pointer;
}

main
  .main-page
  .page-container
  .form-section
  .page-form
  .toggleContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: #ffd433;
  transition: all 0.3s;
}

main
  .main-page
  .page-container
  .form-section
  .page-form
  .toggleCheckbox:checked
  + .toggleContainer::before {
  left: 50%;
}

main .main-page .page-container .form-section .page-form .toggleContainer div {
  font-size: 16px;
  padding: 6px;
  text-align: center;
  z-index: 1;
  color: #000;
  transition: color 0.3s;
}

main
  .main-page
  .page-container
  .form-section
  .page-form
  .toggleCheckbox:checked
  + .toggleContainer
  div:first-child {
  color: black;
}

main
  .main-page
  .page-container
  .form-section
  .page-form
  .toggleCheckbox:checked
  + .toggleContainer
  div:last-child {
  color: white;
}

main
  .main-page
  .page-container
  .form-section
  .page-form
  .toggleCheckbox
  + .toggleContainer
  div:first-child {
  color: white;
}

main
  .main-page
  .page-container
  .form-section
  .page-form
  .toggleCheckbox
  + .toggleContainer
  div:last-child {
  color: black;
}

/*custom check box styling End*/

@media (max-width: 576px) {
  .main-page .page-container .form-section .page-form {
    overflow-y: scroll;
  }
}
