/* Branding body */
.branding-section .branding-body {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100vh !important;
}

/* Branding body text*/
.branding-section .branding-body .branding-text {
    font-size: 24px;
    color    : #035781;
}

/*form section*/
section.main-page .form-section {
    background-image : url(../../images/loginPage/Rectangle\ 1044\(1\).svg);
    background-size  : cover;
    background-repeat: no-repeat;
    transition       : background-image 0.5s ease-in-out;
}

/* Name Input Group */
.form-section .page-form .name-input-group {
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
    align-items    : center;
}

/* Customizing the radio button */


.gender-container .gender-buttons .custom-radio-input {
    appearance        : none;
    -webkit-appearance: none;
    -moz-appearance   : none;
    width             : 20px;
    height            : 20px;
    border            : 2px solid #FF7043 !important;
    border-radius     : 50%;
    outline           : none;
    transition        : background-color 0.3s, border-color 0.3s;
    cursor            : pointer;
    margin-right      : 10px;
}

.gender-container .gender-buttons .custom-radio-input:checked {
    background-color: #FF7043 !important;
    border-color    : #FF7043 َ !important;
}

/* Aligning the label text with the custom radio button */
.gender-container .gender-buttons .custom-radio .custom-radio-label {
    display      : flex;
    align-items  : center;
    margin-bottom: 0;
}

/* Steps Indicator */
.form-section .steps-indicator {

    display       : flex;
    flex-direction: column;
    gap           : 2.4rem;
    position      : absolute;
    top           : 50%;
    right         : 50%;
    transform     : translateY(-50%);

}

/* Step Circle  Start*/
.steps-indicator .step-circle {
    font-size       : 24px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    align-content   : center;
    position        : absolute;
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    border          : 1px solid #2387C2;
    color           : #2387C2;
    background-color: white;
    cursor          : pointer;
    transition      : background-color 0.3s, border-color 0.3s;
}

/* Step Circle  End*/


/* Step Circle States Start*/
.steps-indicator .step-circle.done {
    background-color: #2387C2;
    box-shadow      : 0 0 10px rgba(35, 135, 194, 2.2);
    color           : white;
}

.steps-indicator .step-circle.active {
    box-shadow: 0 0 10px rgba(35, 135, 194, 2.2);
}

/* Step Circle States end*/


.modal-content {
    border-radius: 10px;
    padding      : 20px;
}

.modal-head h5 {
    font-size: 24px;
    color: #292C2D;
}

.modal-title {
    font-size: 24px;
    color    : #292C2D;
}

.code-input {
    width        : 70px;
    height       : 50px;
    margin       : 0 10px;
    border-radius: 30%;
    text-align   : center;
    font-size    : 24px;
}

#timer {
    font-size: 16px;
}

.resend-code {
    color    : #292C2D;
    font-size: 20px;
}

.resend-code span {
    color          : #F3704A !important;
    text-decoration: underline;
}

.modal-btn {
    background-color: #2387C2 !important;
    border-color: #2387C2 !important;
    color: white;
    border-radius: 20px;
    font-size    : 20px;
}
.modal-btn-outline {
    color: #2387C2;
    border-color: #2387C2 !important;
    background-color: white !important;
    border-radius: 20px;
    font-size    : 20px;
}
/* .btn-block {
    border-radius: 25px;
    padding: 10px;
}

.close {
    outline: none;
} */

/* make the form responsive and the step indicators in row direction*/

@media (max-width: 768px) {
    main section.main-page .form-section {
        background               : #fff !important;
        border-top-left-radius   : 20% !important;
        border-bottom-left-radius: 20% !important;

    }

    .main-page .page-container .form-section .page-form {
        width: auto !important;
    }

    .steps-indicator {
        top           : 2% !important;
        right         : 0 !important;
        flex-direction: row !important;
    }
}

@media (min-width:768px) {
    .main-page .page-container .form-section .page-form {
        width: 55%;
    }
}

/* Responsive end*/